html, body
{
    font-family: ubuntu;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 806px;
    min-width: 320px;
    max-width:100%;
    overflow-x: hidden;
    font-size: 16px;
    user-select: none;
    cursor: default;
    color: #f0f1f2;
    -webkit-user-select: none;
}

html {
    display: block;
}
*::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}
*::-webkit-scrollbar-thumb {
    background-color: #7e878e;
    border-radius: .5em;
}
*::-webkit-scrollbar-track {
    background: rgba(126,135,142,0.25);
}


html>.container, body>.container {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: initial;
}

@media (max-width: 900px) body>.container>.app
{
  display: block;
  position:relative;
  background: #e7e9ea;
}


#item-list li .selected {
  color: #000;
  background-color: yellow;
}

.blur-me {
    z-index: 1;
  filter: blur(2px);
}

html>.container>.app, body>.container>.app {
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

html>.container, body>.container {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
}

.container .header
{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #101112;
    padding: 0 1rem;
    text-size: 10rem;
    height: 44px;
    z-index: 1000;
}

.sidebar{
 border-top: 1px solid #282b2d;
 width: 54px;
 min-width: 54px;
 position: flex;
 height: 100%;
 flex-direction: column;
 padding: 23px;
 background-color: #101112;

}

.sidebar > .min .content{
    width: 100%;
    height: 80%;
    display: flex;
    margin: 0;
    padding:  0;
}

.sidebar > .content .label {
  text-transform: uppercase;
  position: relative;
  display: block;
}

#close_app {
 background-color: transparent;
 text-decoration: none !important;
 display: inline-block;
 cursor: pointer;
}

.container .min{ 
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #101112;
    magin: 0;
    padding: 3px 16px 3px 16px;
    text-size: 10rem;
    text-align: center;
    height: 32px;
    border-top: 2px solid #b7bcc0;
    z-index: 1000;
}

.options {
  list-style-type: none;
  display: inline-block;
  padding: 0 3px 0 3px;
  white-space: nowrap;
  //height: 66.7%;
  overflow: hidden; 
}

.options li{
  float: left;      
  cursor: pointer;
  display: inline-block;
  color: #000;
  padding: 3px;
  margin-right:16px;
  background-color: white;
  border-radius: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.options #label
{
   color: white;
   background-color: "";
}


li.active {
  background-color: #white;
}

li:hover:not(.active) {
  background-color: #ccc;
}


form:after{
    content: '';
    clear: both;
    display: flex;
    flex-direction: row;
}

input[type=text],
select,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=text],
select {
  width: 50%;
  box-sizing:content-box;
  display: block;

}

textarea {
  width: 100%;
  box-sizing: border-box;
}


input[type=submit],input[type=append]{
  background-color: #4285F4;
  //position:absolute;
  display:inline-block;
  border: 1px solid rgba(27, 31, 35, 0.2);
  color: white;
  padding: 7px 11px 7px 11px;
  border-radius: 3px;
  float: bottom-left;
  font-weight: 400;
  line-height: 15px;
  cursor: pointer;
}

input[type=append]:hover {
  background-color: #3F729B;
}

input[type=submit]:hover {
  background-color: #3F729B;
}

button{
    border: 0;
    background-color: #fff;
    border-radius: 4px;
    padding: 13px;
    width: 14%;
    border: 1px solid #ccc;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    color: white;
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: black;
}

.docs {
    -webkit-box-flex: 8;
    flex: 8 800px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
}

#item-list{
    list-style-type: none;
    padding: 0;
}

#item-list li{
    padding-left: 16px;
    padding: 0;
    background: #daece1;
    display:flex;
    flex-direction: column;
    margin: 8px 16px 8px 16px;
    max-width: 280px;
    //height:100%;
    max-height: 300px;
    position: relative;
    border: 3px solid #2f3f2e;
    border-radius: 0px 8px;
    cursor: pointer;
}

#item-list li span{
    color:#3c1231;
    font-weight: 400;
    display: block;
    font-size: 14px;

    font-size-adjust:auto;
}

#item-list .inlinespan{
    font-weight: 400;
    display: inline-block;
    margin-right: 3px;
    font-size: 14px;
    font-size-adjust:auto;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    //width: 100px;
    text-align: center;
    padding: 6px 6px;
    font-weight:  600;
    cursor:  pointer;
}

